
augmentations/__pycache__/__init__.cpython-38.pyc
augmentations/__pycache__/transforms.cpython-38.pyc
datasets/__pycache__/__init__.cpython-38.pyc
datasets/__pycache__/csv_classification.cpython-38.pyc
datasets/__pycache__/detection.cpython-38.pyc
datasets/__pycache__/image_classification.cpython-38.pyc
*.jpg
*.png
*.pyc
*.0
*.pth
